{
  "extends": "@aliuq",
  "overrides": [
    {
      "files": ["*locales*/*.json"],
      "rules": {
        "jsonc/sort-keys": ["error", "asc", {
          "caseSensitive": true,
          "natural": true
        }]
      }
    }
  ]
}
